.navbar{
    color: white;
    display: flex;
    width: 100%;
    position: relative;
    height: 40px;

    /* border: 1px solid; */
    padding-left: 10px;
    box-shadow: 5px 0px 10px rgb(135, 130, 130) inset;
    align-content: center;
}

.logo{
    height: 30px;
    margin-top: 5px;
}

.navbarOptions{
    color: white;
    margin-left: 50px;
    text-decoration: none;
}

.navbarOptions:hover{
    color: green;
}

.navbarOptionList{
    display: flex;
    margin-left: 20px;
    margin-top: 5px;
}

.siteName{
    margin-left: 10px;
    margin-top: 7px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: cadetblue;
}

.siteName:hover{
    color: green;
    cursor: pointer;
    width: fit-content;
}

.navbarlogin{
    float: inline-end;
    margin-top: 7px;
    text-decoration: none;
}

.navbarlogin a{
    text-decoration: none;
    color: white;
}

.navbarlogin a:hover{
    color: green;
}

.navbarloginContainer{
    margin-left: 700px;

}
